@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


:root {
    --blue: #2A324B;
    --lightblue: #58699d;
    --Gray: #e1e5ee;
    --white: #fFF;

    --font: 'Rubik', sans-serif;
    --rootsize: 20px;
    --maxsize: 1200px;
}

body{
    background-color: var(--Gray);
    font-family: var(--font);
    font-size: var(--rootsize);
    padding-top: 0;
    margin: 90px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


#container {
    width: 61.7%;
    max-width: var(--maxsize);
    margin: 0 auto;
    min-height: 200px;
    background-color: var(--white);   
}

nav{
    display: flex;
    justify-content: center;
    background-color: var(--Gray);
    padding: 0;
}

nav a {
    display: inline-block;
    background-color: var(--blue);
    text-decoration: none;
    text-align: center;
    color:var(--white);
    padding: 1.8rem;
}
nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;  
    margin: 0;  /*fjern den hvis du ikke space mellom dem*/
}
nav ul :hover{
    background-color: var(--white);
    color: var(--blue);
    font-weight: bolder; 
}
article{
    margin: 50px;
    margin-top: 0px;
    padding: 50px;
}

article p{
    text-align: center;
    margin: 5px;
}
article h1{
    color: var(--blue);

    
}
article ul{
    padding-bottom: 50px;
}

